USE [KurumsalWebDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 17.12.2019 19:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 17.12.2019 19:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[Eposta] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Yetki] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Admin] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 17.12.2019 19:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](max) NULL,
	[Icerik] [nvarchar](max) NULL,
	[ResimURL] [nvarchar](max) NULL,
	[KategoriId] [int] NULL,
 CONSTRAINT [PK_dbo.Blog] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hakkimizda]    Script Date: 17.12.2019 19:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hakkimizda](
	[HakkimizdaId] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Hakkimizda] PRIMARY KEY CLUSTERED 
(
	[HakkimizdaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hizmet]    Script Date: 17.12.2019 19:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hizmet](
	[HizmetId] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](150) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[ResimURL] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Hizmet] PRIMARY KEY CLUSTERED 
(
	[HizmetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iletisim]    Script Date: 17.12.2019 19:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iletisim](
	[IletisimId] [int] IDENTITY(1,1) NOT NULL,
	[Adres] [nvarchar](250) NULL,
	[Telefon] [nvarchar](250) NULL,
	[Fax] [nvarchar](max) NULL,
	[Whatsapp] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
	[Instagram] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Iletisim] PRIMARY KEY CLUSTERED 
(
	[IletisimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 17.12.2019 19:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[KategoriId] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [nvarchar](50) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Kategori] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kimlik]    Script Date: 17.12.2019 19:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kimlik](
	[KimlikId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Keywords] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[LogoURL] [nvarchar](max) NULL,
	[Unvan] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Kimlik] PRIMARY KEY CLUSTERED 
(
	[KimlikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[onuryldz_TEST]    Script Date: 17.12.2019 19:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[onuryldz_TEST](
	[id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 17.12.2019 19:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[SliderId] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](30) NULL,
	[Aciklama] [nvarchar](150) NULL,
	[ResimURL] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Slider] PRIMARY KEY CLUSTERED 
(
	[SliderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorum]    Script Date: 17.12.2019 19:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorum](
	[YorumId] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](50) NOT NULL,
	[Eposta] [nvarchar](max) NULL,
	[Icerik] [nvarchar](max) NULL,
	[BlogId] [int] NULL,
	[Onay] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Yorum] PRIMARY KEY CLUSTERED 
(
	[YorumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminId], [Eposta], [Sifre], [Yetki]) VALUES (1, N'admin@admin', N'E120EA280AA50693D5568D0071456460', N'Admin')
INSERT [dbo].[Admin] ([AdminId], [Eposta], [Sifre], [Yetki]) VALUES (2, N'onur@admin.com', N'E120EA280AA50693D5568D0071456460', N'Editor')
INSERT [dbo].[Admin] ([AdminId], [Eposta], [Sifre], [Yetki]) VALUES (4, N'onuryldz008@gmail.com', N'E120EA280AA50693D5568D0071456460', N'Admin')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
SET IDENTITY_INSERT [dbo].[Hakkimizda] ON 

INSERT [dbo].[Hakkimizda] ([HakkimizdaId], [Aciklama]) VALUES (1, N'<p>A&ccedil;ıklama <strong>daha sonra eklenicek.</strong></p>

<div id="gtx-trans" style="position: absolute; left: 136px; top: 38px;">
<div class="gtx-trans-icon">&nbsp;</div>
</div>
')
SET IDENTITY_INSERT [dbo].[Hakkimizda] OFF
SET IDENTITY_INSERT [dbo].[Hizmet] ON 

INSERT [dbo].[Hizmet] ([HizmetId], [Baslik], [Aciklama], [ResimURL]) VALUES (1, N'Hizmet 1', N'<p>Hizmet a&ccedil;ıklama <strong>eklenicek.</strong></p>

<div id="gtx-trans" style="position: absolute; left: 54px; top: -6px;">
<div class="gtx-trans-icon">&nbsp;</div>
</div>
', N'/Uploads/Hizmet/718f0a48-1d98-4226-9718-83030e618cbf.jpg')
INSERT [dbo].[Hizmet] ([HizmetId], [Baslik], [Aciklama], [ResimURL]) VALUES (2, N'Hizmet 2', N'<p>Hizmet a&ccedil;ıklama&nbsp;<strong>eklenicek.</strong></p>

<div id="gtx-trans" style="position: absolute; left: 253px; top: 38px;">
<div class="gtx-trans-icon">&nbsp;</div>
</div>
', N'/Uploads/Hizmet/aa543879-04ee-4864-8fb1-602d99b83add.jpg')
INSERT [dbo].[Hizmet] ([HizmetId], [Baslik], [Aciklama], [ResimURL]) VALUES (3, N'Hizmet 3', N'<p>Hizmet a&ccedil;ıklama&nbsp;<strong>eklenicek.</strong></p>
', N'/Uploads/Hizmet/b58db867-12c2-4c4d-b04c-40d061776cff.jpg')
SET IDENTITY_INSERT [dbo].[Hizmet] OFF
SET IDENTITY_INSERT [dbo].[Iletisim] ON 

INSERT [dbo].[Iletisim] ([IletisimId], [Adres], [Telefon], [Fax], [Whatsapp], [Facebook], [Twitter], [Instagram]) VALUES (1, N'Ergazi Mh. Demiröz St. 4/20 Blok No: 4, Batıkent / Yenimahalle / ANKARA', N'05315875631', N'05315875631', N'05315875631', N'OnyoRe', N'Mr_Onyour', N'onyore')
SET IDENTITY_INSERT [dbo].[Iletisim] OFF
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([KategoriId], [KategoriAd], [Aciklama]) VALUES (1, N'Genel', N'Genel Bilgiler')
INSERT [dbo].[Kategori] ([KategoriId], [KategoriAd], [Aciklama]) VALUES (2, N'Hizmet', N'Hizmet Bilgileri')
SET IDENTITY_INSERT [dbo].[Kategori] OFF
SET IDENTITY_INSERT [dbo].[Kimlik] ON 

INSERT [dbo].[Kimlik] ([KimlikId], [Title], [Keywords], [Description], [LogoURL], [Unvan]) VALUES (1, N'Kurumsal Web Sitesi Projesi Başlığı', N'Kurumsal, Web, Asp.NET MVC, Web Sitesi', N'<p><strong>Kurumsal Web Sitesi</strong></p>

<p>&nbsp;</p>
', N'/Uploads/Kimlik/logo.png.png', N'Kurumsal Web Ünvan')
SET IDENTITY_INSERT [dbo].[Kimlik] OFF
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([SliderId], [Baslik], [Aciklama], [ResimURL]) VALUES (2, N'Hizmetlerimize bakabilirsiniz.', N'Hizmetlerimizin detayları açıklamalar da mevcuttur.', N'/Uploads/Slider/fe1d4b0c-3f97-493e-8347-76a709b5e394.jpg')
INSERT [dbo].[Slider] ([SliderId], [Baslik], [Aciklama], [ResimURL]) VALUES (3, N'Hizmetlerimize bakabilirsiniz.', N'<p>Hizmetlerimizin detayları a&ccedil;ıklamalar da <strong>mevcuttur.</strong></p>
', N'/Uploads/Slider/431a6071-1602-4f1c-ad0a-7cee02072a65.jpg')
INSERT [dbo].[Slider] ([SliderId], [Baslik], [Aciklama], [ResimURL]) VALUES (4, N'Hizmetlerimize bakabilirsiniz.', N'<p><strong>Hizmetlerimizin</strong> detayları a&ccedil;ıklamalar da mevcuttur.</p>
', N'/Uploads/Slider/da8fb616-18ca-4a56-a79e-b89705728eca.jpg')
SET IDENTITY_INSERT [dbo].[Slider] OFF
SET IDENTITY_INSERT [dbo].[Yorum] ON 

INSERT [dbo].[Yorum] ([YorumId], [AdSoyad], [Eposta], [Icerik], [BlogId], [Onay]) VALUES (1, N'Onur Yıldız', N'onuryldz008@gmail.com', N'Güzel bir paylaşım olmuş elinize sağlık.', 9, 1)
INSERT [dbo].[Yorum] ([YorumId], [AdSoyad], [Eposta], [Icerik], [BlogId], [Onay]) VALUES (2, N'Mahmut Kerim', N'mhmtkrm@mail.com', N'Faydalı buldum, teşekkürler.', 8, 1)
INSERT [dbo].[Yorum] ([YorumId], [AdSoyad], [Eposta], [Icerik], [BlogId], [Onay]) VALUES (3, N'Aslı Güngör', N'asligungor@outlook.com', N'Devamını bekliyorum. Takipteyim!', 7, 1)
SET IDENTITY_INSERT [dbo].[Yorum] OFF
ALTER TABLE [dbo].[Yorum] ADD  CONSTRAINT [DF__Yorum__Onay__03F0984C]  DEFAULT ((0)) FOR [Onay]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Blog_dbo.Kategori_KategoriId] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategori] ([KategoriId])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_dbo.Blog_dbo.Kategori_KategoriId]
GO
ALTER TABLE [dbo].[Yorum]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Yorum_dbo.Blog_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blog] ([BlogId])
GO
ALTER TABLE [dbo].[Yorum] CHECK CONSTRAINT [FK_dbo.Yorum_dbo.Blog_BlogId]
GO
